.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 10%;
    background-color: currentColor;
    z-index: 100;
    position: fixed;
    box-shadow: 0px 25px 52px rgba(0, 0, 0, 50%);
}

.header.img {
    fill: currentColor;
}

.nav-menu {
    height: 100%;
    width: 100%;
    left: 45%;
    display: flex;
    justify-content: center;
    align-items: center;

    a{
        font-weight:500;
        font-size: 30px;
        filter: invert();
    }

    a:hover{
        border-bottom: solid;
    }
    
}

.search-bar {
    height: 30px;
    width: 270px;
    align-items: center;
    padding-left: 1.2%;
    border-radius: 5px;
    justify-content: space-between;
    display: flex;
    border: none;
    background-color: rgb(219, 219, 219);
}

.Name{
    /* display: flex; */
    align-items: center;
    position: absolute;
    bottom: 35%;

    h1{
        position: absolute;
        font-size: 20px;
        bottom: 200px;
    }

    h2{
        position: absolute;
        font-weight: bolder;
        font-size: 52px;
        width: 100vh;
        text-align: left;
        display: flex;
        left: 45px;
        bottom: 193px;
    }
}

.container-body {
    padding: 0 10%;
    position: relative;
    height: 800px;
    width: 100%;
    top: 9vh;
    box-shadow: 0px 65px 52px rgba(0, 0, 0, 40%);
}
.container-experience {
    padding: 4% 10%;
    position: relative;
    height: 1100px;
    width: 100%;
    z-index: -1;
    top: 9vh;
    box-shadow: 0px 65px 52px rgba(0, 0, 0, 40%);
}
.container-portofolio{
    padding: 0 10%;
    position: relative;
    height: 1400px;
    width: 100%;
    top: 9vh;
    box-shadow: 0px 65px 52px rgba(0, 0, 0, 40%);
}
.container-contact{
    padding: 0 10%;
    position: relative;
    height: 400px;
    z-index: 4;
    width: 100%;
    top: 9vh;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 100%);
}

.container-name {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.button {
    color: invert currentColor;
    border:1px solid;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    top: 55%;
    position: absolute;
}

.button:hover {
    filter: invert(1);
}

.role{
    font-family: "Oswald", serif;
    font-size: 80px;
    height: 200px;
    width: 820px;
    position: absolute;
    bottom: 48%;
}

.foto-profile {
    filter: grayscale(1);
    position: absolute;
    object-fit: fill;
    bottom: 0;
    left: 25%;
    height: 100vh;
    width: 150vh;
    z-index: -1;
}
 .my-about{
    /* style={{width:'70%', fontSize:'25px', letterSpacing:'1px', lineHeight:'120%'}} */
    font-size: 25px;
    
    color: white;
    position: absolute;
    top: 13%;
    left: 15%;
 }

 .header-about{
    /* style={{position:'absolute', top:'6%', fontSize:'60px', fontWeight:'bold', color:'white'}} */
    position: absolute;
    top: 6%;
    font-size: 60px;
    font-weight: bold;
    color: white;
 }

 .mySkills{
    font-weight: bold;
    font-size: 60px;
    color: white;
    position: absolute;
    top: 26%;
    left: 43%;
 }

 .boxSkills{
    position: absolute;
    justify-content: center;
    gap: 2%;
    left: 0;
    padding: 0 10%;
    top: 35%;
    display: flex;
    height: 300px;
    width: 100%;
 }

 .skills{
    height: 300px;
    width: 300px;
    background-color: rgb(68, 68, 68);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: auto;


    img{
        position: relative;
        bottom: 10%;
        height: 50%;
        width: 50%;
    }

    p{
        font-weight: bold;
        color: white;
        font-size: 25px;
        position: absolute;
        top: 70%;
    }
    
 }

.skills:hover{
    background-color: grey;
} 


.portofolio{
    position: absolute;
    left: 41%;
    top: 6%;

    h1{
        font-weight: bold;
        position: relative;
        font-size: 60px;
        align-items: center;
    }
}

.porto-box{
    height: 300px;
    width: 300px;
}

.grid-container{
    position: relative;
    top: 15%;
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px;
    gap: 45px;
}

.grid-item{
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: left;
    border-radius: 2%;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    margin: 0 0;
    text-align: center;
}

.pop-porto{
    filter:invert();
    p{
        font-size: 30px;
        line-height: 50px;
    }
}

.list{
    list-style-type: circle;
}

.youtube{
    filter: invert();
}

.youtube:fullscreen{
    filter: invert(0);
}

.logo {
    height: 5%;
    width: 5%;
    filter: invert(1);
    fill: currentColor;
  }
  
  .logo:hover {
    color: orange;
    filter: invert(0);
  }
  .darkmode-button {
    border:2px solid ;
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    left: 72%;
    align-items: center;
  }

@media only screen and (max-width: 768px) {
    .nav-menu {
        height: 100%;
        width: 100vh;
        padding-right: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    
        a{
            font-weight:500;
            font-size: 20px;
            filter: invert();
        }
    
        a:hover{
            border-bottom: solid;
        }
        
    }
    .search-bar {
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5% 2%;
        max-width: 100%;
        background-color: currentColor;
        z-index: 100;
        position: fixed;
        box-shadow: 0px 25px 52px rgba(0, 0, 0, 50%);
    }

    .container-body {
        position: relative;
        height: 800px;
        min-width: 520px;
        top: 9vh;
        box-shadow: 0px 65px 52px rgba(0, 0, 0, 40%);
    }

    .foto-profile {
        display: none;
        filter: grayscale(1);
        left: 25%;
        height: 800px;
        width: 1300px;
        z-index: -1;
    }

    .mySkills{
        font-weight: bold;
        font-size: 60px;
        color: white;
        position: absolute;
        top: 26%;
        left: 37%;
     }
    
     .boxSkills{
        position: absolute;
        justify-content: center;
        gap: 2%;
        left: 0;
        padding: 0 10%;
        top: 35%;
        display: flex;
        height: 300px;
        width: 100%;
     }
    
     .skills{
        height: 150px;
        width: 150px;
        background-color: rgb(68, 68, 68);
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: auto;
    
    
        img{
            position: relative;
            bottom: 10%;
            height: 50%;
            width: 50%;
        }
    
        p{
            font-weight: bold;
            color: white;
            font-size: 20px;
            position: absolute;
            top: 30%;
        }
        
     }

     
    
    .skills:hover{
        background-color: grey;
    } 
    
    .portofolio{
        position: absolute;
        left: 31%;
        top: 10%;
    
        h1{
            font-weight: bold;
            position: relative;
            font-size: 60px;
            align-items: center;
        }
        
    }
    .darkmode-button {
        scale: 1;
        display: flex;
        border:2px solid ;
        position: fixed;
        width: 40px;
        border-radius: 50%;
        left: 90%;
        align-items: center;
      }
    .logo {
        height: 8%;
        width: 8%;
        filter: invert(1);
        fill: currentColor;
    }
    .container-name {
        /* border: 1px solid black; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;

        .Name{
            align-items: center;
            position: absolute;
            bottom: 35%;

            h1{
                position: absolute;
                font-size: 30px;
                bottom: 200px;
            }

            h2{
                position: absolute;
                font-weight: bolder;
                width: 500px;
                font-size: 52px;
                text-align: left;
                display: flex;
                left: 45px;
                bottom: 193px;
            }
            .role {
                font-size: 50px;
                position: absolute;
                bottom: 48%;
                left: 47%;
                width: 500px;
            }
        }
    }
    .my-about{
        /* style={{width:'70%', fontSize:'25px', letterSpacing:'1px', lineHeight:'120%'}} */
        font-size: 15px;
        padding-right: 10%;
        color: white;
        position: absolute;
        top: 13%;
        left: 15%;
     }
     .container-portofolio{
        height: 600px;
    }
    .grid-container{
        position: relative;
        top: 30%;
        display: grid;
        grid-template-columns: auto auto;
        padding: 5px;
        gap: 45px;
    }
    .container-experience{
        padding: 0 10%;
        position: relative;
        height: 1300px;
        width: 100%;
        top: 9vh;
        z-index: -1;
        box-shadow: 0px 65px 52px rgba(0, 0, 0, 40%);
    }
    .container-contact{
        padding: 0 10%;
        position: relative;
        height: 400px;
        z-index: 4;
        width: 100%;
        top: 9vh;
        box-shadow: 0px 0px 100px rgba(0, 0, 0, 100%);
    }
}

@media only screen and (max-width: 320px) {
    .nav-menu {
        height: 100%;
        width: 100%;
        padding-right: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    
        a{
            font-weight:500;
            font-size: 20px;
            filter: invert();
        }
    
        a:hover{
            border-bottom: solid;
        }
        
    }
    .search-bar {
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5% 2%;
        max-width: 360px;
        background-color: currentColor;
        z-index: 100;
        position: fixed;
        box-shadow: 0px 25px 52px rgba(0, 0, 0, 50%);
    }

    .container-body {
        position: relative;
        height: 800px;
        width: 100%;
        top: 9vh;
        box-shadow: 0px 65px 52px rgba(0, 0, 0, 40%);
    }

    .foto-profile {
        display: none;
        filter: grayscale(1);
        left: 25%;
        height: 800px;
        width: 1300px;
        z-index: -1;
    }

    .mySkills{
        font-weight: bold;
        font-size: 60px;
        color: white;
        position: absolute;
        top: 26%;
        left: 37%;
     }
    
     .boxSkills{
        position: absolute;
        justify-content: center;
        gap: 2%;
        left: 0;
        padding: 0 10%;
        top: 35%;
        display: flex;
        height: 300px;
        width: 100%;
     }
    
     .skills{
        height: 150px;
        width: 150px;
        background-color: rgb(68, 68, 68);
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: auto;
    
    
        img{
            position: relative;
            bottom: 10%;
            height: 50%;
            width: 50%;
        }
    
        p{
            font-weight: bold;
            color: white;
            font-size: 20px;
            position: absolute;
            top: 30%;
        }
        
     }

     
    
    .skills:hover{
        background-color: grey;
    } 
    
    .portofolio{
        position: absolute;
        left: 31%;
        top: 10%;
    
        h1{
            font-weight: bold;
            position: relative;
            font-size: 60px;
            align-items: center;
        }
        
    }
    .darkmode-button {
        scale: 1;
        display: flex;
        border:2px solid ;
        position: fixed;
        width: 40px;
        border-radius: 50%;
        left: 90%;
        align-items: center;
      }
    .logo {
        height: 8%;
        width: 8%;
        filter: invert(1);
        fill: currentColor;
    }
    .container-name {
        /* border: 1px solid black; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100vh;

        .Name{
            align-items: center;
            position: absolute;
            bottom: 35%;

            h1{
                position: absolute;
                font-size: 30px;
                bottom: 200px;
            }

            h2{
                position: absolute;
                font-weight: bolder;
                width: 500px;
                font-size: 52px;
                text-align: left;
                display: flex;
                left: 45px;
                bottom: 193px;
            }
            .role {
                font-size: 50px;
                position: absolute;
                bottom: 48%;
                left: 47%;
                width: 500px;
            }
        }
    }
    .my-about{
        /* style={{width:'70%', fontSize:'25px', letterSpacing:'1px', lineHeight:'120%'}} */
        font-size: 15px;
        padding-right: 10%;
        color: white;
        position: absolute;
        top: 13%;
        left: 15%;
     }
     .container-portofolio{
        height: 100vh;
    }
    .grid-container{
        position: relative;
        top: 30%;
        display: grid;
        grid-template-columns: auto auto;
        padding: 5px;
        gap: 45px;
    }
    .container-experience{
        padding: 0 10%;
        position: relative;
        height: 1300px;
        width: 100%;
        top: 9vh;
        z-index: -1;
        box-shadow: 0px 65px 52px rgba(0, 0, 0, 40%);
    }
    .container-contact{
        padding: 0 10%;
        position: relative;
        height: 400px;
        z-index: 4;
        width: 100%;
        top: 9vh;
        box-shadow: 0px 0px 100px rgba(0, 0, 0, 100%);
    }
}