*{
    box-sizing: border-box;
}

.container{
    width: 100%;
    margin: 0;
    padding: 30px;
    height: 650px;
    background-image: linear-gradient(to top, white 50%, indigo 120%);
}

h1{
    width: 100%;
    text-align: center;
    font-family: 'Sora', sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: indigo;                                         
}