.container {
  height: 100vh;
  width: 100%;
  background-color: rgb(56, 56, 56);
  align-items: center;
}

.logo {
  margin-bottom: 5%;
  height: 5%;
  width: 5%;
  filter: invert(1);
  fill: currentColor;
}

.logo:hover {
  filter: none;
}

.darkmode-button {
  border:2px solid;
  position: fixed;
  border-radius: 50%;
  top: 2.2%;
  left: 75%;
  align-items: center;
}